.menu-icon {
  display: none;
  cursor: pointer;
  padding: 10px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #f1f1f1;
  margin: 5px 0;
  transition: 0.4s;
}

@media screen and (max-width: 1100px) {
  .nav .button {
    display: none;
  }

  .social-links {
    display: none !important;
  }

  .header {
    min-height: 80px !important;
    max-height: 80px !important;
  }

  .social-page {
    display: block !important;
    font-size: 40px;
  }

  .social-page a {
    color: #f1f1f1;
    text-decoration: none;
  }

  .social-list a {
    color: #8a7467 !important;
    font-size: 48px;
    justify-content: center;
    display: flex;
    margin-bottom: 8%;
  }
  
  .social-list h1 {
    margin-bottom: 15%;
  }

  body:not(.index-page) .footer {
    display: none;
  }

  .footer {
    font-size: 24px;
    padding: 8px 12px;
    transform: translateY(100%);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 50px !important;
    max-height: 50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer.hidden {
    transform: translateY(100%);
  }

  .footer.show {
    transform: translateY(0);
  }

  .menu-icon {
    display: block;
    position: absolute;
    right: 5%;
  }

  .page-toggle {
    font-family: 'Poetsen One';
    background-color: #D5BDAF;
    color: #f1f1f1;
    padding: 10px 18px;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }

  .full-page {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #D5BDAF;
    z-index: 999;
    padding: 20px;
    box-sizing: border-box;
    font-size: 35px;
    line-height: 85px;
    flex-direction: column; /* Add this line */
    align-items: center; /* Add this line */
  }
  
  .full-page.show {
    display: flex;
    justify-content: center;
  }
  
  .full-page a {
    display: block; /* Add this line */
    margin-bottom: 20px; /* Add this line */
    text-align: center; /* Add this line */
  }
  
  .close-button {
    display: block !important;
    position: absolute;
    top: 7.5%;
    right: 10%;
    background: none;
    border: none;
    color: #f1f1f1;
    cursor: pointer;
    font-size: 45px;
  }

  .box {
    width: 77.5% !important;
  }

  .box.header {
    font-size: 20px;
  }
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links a {
  margin: 0 10px;
  text-decoration: none;
}

.social-page {
  display: none;
}

.close-button {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  border-radius: 25px;
  background: #D5BDAF;
  color: #f1f1f1;
  position: sticky;
  margin-top: 0.5%;
  margin-left: 0.25%;
  margin-right: 0.25%;
  font-family: 'Poetsen One';
  transition: transform 0.5s ease-out;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.nav {
  display: flex;
  align-items: center;
  margin-right: 1%;
  flex-wrap: wrap; /* Allow buttons to wrap to the next line if necessary */
}

.button {
  font-family: 'Poetsen One';
  background-color: #D5BDAF;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  color: #f1f1f1;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 750;
  line-height: 20px;
  margin: 5px; /* Add some margin around the buttons */
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s, transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.footer {
  text-align: center;
  background-color: #D5BDAF;
  font-size: 36px;
  font-weight: 600;
  font-family: 'Poetsen One';
  border-radius: 25px;
  padding: 10px 16px;
  margin-bottom: 0.5%;
  margin-left: 0.25%;
  margin-right: 0.25%;
  margin-top: auto;
  transition: transform 0.5s ease-out;
}

.header.hidden {
  transform: translateY(-100%);
  
}

.footer.hidden {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
}

.header.show,
.footer.show {
  transform: translateY(0);
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style the header */
body {
  background-color: #F5EBE0;
  color: #8a7467;
  font-family: 'Comfortaa';
  line-height: 30px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 18px;
}

/* Page content */
.content {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

.info {
  position: relative;
  left: 3%;
  display: inline-block;
}

.button:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button:hover {
  background-color: #F5EBE0;
  border-color: #000000;
  transform: scale(.96);
}

.button:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

.pageHeader {
  text-align: center;
  margin-top: 60px;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: #EDEDE9;
}

.box {
  background-color: #E3D5CA;
  border-radius: 25px;
  border-width: 375px;
  padding: 10px 16px;
  width: 35%; /* Adjust the width to make the boxes slimmer */
  margin-top: 30px; /* Reduce the top margin */
  margin-bottom: 30px; /* Reduce the bottom margin */
  margin-left: auto;
  margin-right: auto;
}

.box h1 {
  text-align: center;
  margin-bottom: 20px; /* Reduce the bottom margin of the header */
}

.box p {
  text-align: center;
  padding: 2px; /* Reduce the padding of the paragraphs */
}

.box-header {
  cursor: pointer;
  padding: 10px;
}

.box-content {
  display: none;
  padding: 10px;
}

.box-content.show {
  display: block;
}

.helloBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#cursiveTextSVG {
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 100px;
}

#cursiveText {
  fill: transparent;
  stroke: #8a7467;
  stroke-width: 2;
  text-anchor: middle;
  font-family: 'Poetsen One';
  font-size: 100px;
}

.welcome {
  margin-top: 100px;
  text-align: center;
}

.welcome p {
  margin-left: 32.5%;
  margin-right: 32.5%;
}

.secret {
  margin-top: 30px;
  text-align: center;
  line-height: 30px;
}